<body>
  <div class="jumbotron text-center" style="margin-bottom:1">
    <h1>PUNTO DE VENTA</h1>
  </div>
  
  <div class="container" style="margin-top:30px">
      <div class="col">

    <div class="row">
      <div class="col-sm-6">
        <h2>Ventas</h2>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </button>
      </div>
      <div class="col-sm-6">
        <h2>Catálogos</h2>
      </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <h2>Reporte de ventas</h2>
          </div>
          <div class="col-sm-6">
            <h2>Salir</h2>
          </div>
          </div>
    </div>
  </div>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>
  
  </body>