<!DOCTYPE html>
<html  ng-app="eventosApp">
	<head>
		<style type="text/css">
			#cuadrado{ background: red; width: 100px; height: 100px; margin: 10px 10px;}
		</style>
		<meta charset="utf-8">
		<title>Eventos AngularJS</title>
		<meta name="viewport" content="width=device-width">
		  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

	</head>
	<body>
		<div ng-controller="eventosController" id="principal">
			<button ng-click="saludo()">Click</button>

			<strong>Cantidad de clicks:{{conteoClicks}}</strong>

			<p ng-click="saludo()">También funciona en párrafos</p>

			<button ng-dblclick="saludo()">Doble Click</button>

			<div id="cuadrado" ng-mouseenter="dentroDelDiv()" ng-mouseleave="fueraDelDiv()"></div>
			<strong>Estado: {{estado}}</strong>

			<input type="text" ng-keydown="detectarTecla($event)" autofocus="true">

		</div>


		<script>
			var miApp=angular.module('eventosApp', []);

			miApp.controller('eventosController', function($scope){
				$scope.conteoClicks=0;
				$scope.estado='zzzzz';
				
				$scope.saludo=function(){
				$scope.conteoClicks++
				};

				$scope.dentroDelDiv=function(){
					$scope.estado='MouseEnter Activo';
				};

				$scope.fueraDelDiv=function(){
					$scope.estado='MouseOver Activo';
				};

				$scope.detectarTecla=function(e){
					switch(e.keyCode){
						case 37:
							$scope.estado='izquierda';
							break;
						case 38:
							$scope.estado='arriba';
							break;
						case 39:
							$scope.estado='derecha';
							break;
						case 40:
							$scope.estado='abajo';
							break;
					};

				};
			});


		</script>
	</body>
</html>