<!Doctype html>
<html ng-app="coleccionesApp">
<head>
	<meta charset="utf-8">
	<title>Colecciones de datos</title>
  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script> 
</head>
<body>
	<div ng-controller="controladorColecciones">
		<ul>
			<li ng-repeat="datoIndividual in datos" ng-click="mostrarDatos(datoIndividual)">{{datoIndividual}}</li>
		</ul>

		<ul>
			<li ng-repeat="heroe in heroes" ng-click="mostrarDatos(heroe.apellido)">{{heroe.nombre}}</li>
		</ul>

		<input type="text" ng-model="nuevoItem">
		<button ng-click="agregar()">Guardar</button>

	</div>
	<script>
		var coleccionDatosApp=angular.module('coleccionesApp', []);

		coleccionDatosApp.controller('controladorColecciones', function($scope){
			$scope.datos=['piedra','papel','tijera'];
			$scope.heroes=[
			{nombre:"Arnold", apellido:"schwarzenegger"},
			{nombre:"Chuck", apellido:"Norris"},
			{nombre:"Bruce", apellido:"Lee"}];

			$scope.agregar=function(){
				$scope.datos.push($scope.nuevoItem);
			};

			$scope.mostrarDatos=function(info){
				alert('Elegiste: '+ info);
			};
			
		});

	</script>
</body>
</html>