<div class="form-group" align="right">
		<!--<input type="submit" class="btn btn-primary" value="Enviar">
        <input type="reset" class="btn btn-default" value="Limpiar">-->
    <button type="button" class="btn btn-primary" ng-click="reset(form)"><span class="glyphicon glyphicon-plus"></span>Nuevo</button>
	<button type="submit" class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
	<button type="submit" class="btn btn-primary" ng-click="update()"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
	<button type="submit" class="btn btn-primary" ng-click="delete()"><span class="g
glyphicon glyphicon-trash"></span> Eliminar</button>
</div>



