        <div class="panel panel-default" id="panelMenu">
            <div class="panel-heading">
              <table width="100%">
                <tr>
                 <td align="left"><h1 class="panel-title">TPV</h1></td>
                 <td align="right"><button ><span class="glyphicon glyphicon-chevron-left"></span></button></td>
                </tr>
              </table>
            </div>
            <div class="panel-body">
                <div id="navbarCollapse" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" >
                      ADMINISTRACION<b class="caret"></b></a>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Clientes</a></li>
                        <li><a href="#">Proveedores</a></li>
                        <li><a href="#">Empleados</a></li>
                        <li><a href="#/paymentType">Tipo Pago</a></li>
                        <li><a href="#/productCategory">Categorías Productos</a></li>
                      </ul>
                    </li>
                  </ul>
                   <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown"> INVENTARIO
                      <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Ventas</a></li>
                        <li><a href="#">Proveedores</a></li>
                        <li><a href="#">Clientes</a></li>
                      </ul>
                    </li>

                  </ul>                  
                </div>
            </div>
        </div>
      