<div class="panel panel-default col-md-3">
    <div class="panel-heading">Refine Search</div>
    <div class="panel-body">

        <div class="panel panel-default">
            <!-- Default panel contents 1 -->
            <div class="panel-heading">Panel heading 1</div>
            <div class="panel-body">
                <p>...</p>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents 2 -->
            <div class="panel-heading">Panel heading 2</div>
            <div class="panel-body">
                <p>...</p>
            </div>
        </div>

    </div>
</div>