	<div ng-controller="DepartmentCtrl">
		<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add random item
		</button>
    <div>
    </div>
    <label for="items">Registros por página</label>
  	<input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage" />
		
    <table st-table="department" st-safe-src="departments" class="table table-striped">
			<thead>
			<tr>
        <th>Eliminar</th>
        <th>Editar</th>
				<th st-sort="id">Id</th>
				<th st-sort="Nombre">Nombre</th>
			</tr>
			<!--tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr-->
			</thead>
			<tbody>
			<tr ng-repeat="department in departments">
				<td>
				<button type="button" ng-click="removeItem(department)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
        <td>
				<button  type="button" ng-click="show(department)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#bookmarkModal">
					<i class="glyphicon glyphicon-edit">
					</i>
				</button>
				</td>                
				<td>{{department.id}}</td>
				<td>{{department.name}}</td>
			</tr>
			</tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2"></div>
          </td>
        </tr>
      </tfoot>
		</table>
	</div>
