<form role="form">
  <legend>Descuentos</legend>
  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" class="form-control" id="id"
           placeholder="Id">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" 
           placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="descripcion">Tipo de descuento</label>
    <input type="text" class="form-control" id="descripcion" 
           placeholder="Descripción">
  </div> 
  <div class="form-group">
    <label for="monto">Monto</label>
    <input type="text" class="form-control" id="monto" 
           placeholder="Monto">
  </div> 
  <div class="form-group">
    <label for="producto">Producto</label>
    <input type="text" class="form-control" id="producto" 
           placeholder="Producto">
  </div>
  <div class="form-group">
    <label for="estatus">Estatus</label>
    <input type="text" class="form-control" id="estatus" 
           placeholder="Estatus">
  </div> 
  <div class="form-group">
    <label for="fechaInicial">Fecha Inicial</label>
    <input type="text" class="form-control" id="fechaInicial" 
           placeholder="Fecha Inicial">
  </div>
  <div class="form-group">
    <label for="fechaInicial">Fecha Final</label>
    <input type="text" class="form-control" id="fechaInicial" 
           placeholder="Fecha Inicial">
  </div>
  <div class="form-group">
    <div class="col-lg-offset-9 col-lg-11">
      <button type="submit" class="btn btn-default">Guardar</button>
      <button type="Reset" class="btn btn-default">Limpiar</button>
      <button type="button" class="btn btn-default">Eliminar</button>      
    </div>      
  </div>                   
</form>