<form role="form">
  <legend>Proveedor</legend>  
  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" class="form-control" id="id"
           placeholder="Id">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" 
           placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="telefono">Telefono</label>
    <input type="text" class="form-control" id="telefono" 
           placeholder="Telefono">
  </div>
  <div class="form-group">
    <label for="direccion">Dirección</label>
    <input type="text" class="form-control" id="direccion" 
           placeholder="Dirección">
  </div>
  <div class="form-group">
    <label for="webPage">Página Web</label>
    <input type="text" class="form-control" id="webPage" 
           placeholder="Página Web">
  </div> 
  <div class="form-group">
    <label for="rfc">RFC</label>
    <input type="text" class="form-control" id="rfc" 
           placeholder="RFC">
  </div>
  <div class="form-group">
    <label for="maternalName">Apellido Materno</label>
    <input type="text" class="form-control" id="maternalName" 
           placeholder="Apellido Materno">
  </div>
  <div class="form-group">
    <label for="paternalName">Apellido Paterno</label>
    <input type="text" class="form-control" id="paternalName" 
           placeholder="Apellido Paterno">
  </div>
  <div class="form-group">
    <label for="businessName">Nombre del Negocio</label>
    <input type="text" class="form-control" id="businessName" 
           placeholder="Nombre del Negocio">
  </div>
  <div class="form-group">
    <div class="col-lg-offset-9 col-lg-11">
      <button type="submit" class="btn btn-default">Guardar</button>
      <button type="Reset" class="btn btn-default">Limpiar</button>
      <button type="button" class="btn btn-default">Eliminar</button>      
    </div>      
  </div>        
</form>